/* Empty. Add your own CSS if you like */
.feed-item.enlarged-item{
  height:auto;
  max-height:20rem;
  white-space: normal;
}


.file.folder{
  background-color: rgba(0,0,0,.01);
  
  /*background:black;*/
  border-left: 0.4rem solid ;
}
