# Android
platforms/android/assets/www
platforms/android/bin/
platforms/android/gen/
platforms/android/res/xml/config.xml
platforms/android/ant-build/
platforms/android/CordovaLib/
 
 
# Emulator logs
platforms/ios/cordova/console.log

#Important
www/js/app-config.js
