<ion-side-menus>
  <ion-pane ion-side-menu-content>
    <ion-view title="Landing">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <!-- <ion-nav-buttons side="left"> -->
        <!-- <button menu-toggle="left" class="button button-icon icon ion-navicon"></button> -->
      <!-- </ion-nav-buttons> -->
      <div class="buttons pull-right">
        <button class="button" ng-click="open()">Open</button>
      </div>
    </ion-nav-bar>
    </ion-view>
  </ion-pane>

</ion-side-menus>
